@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  /* colors */
  --color-background: #0a0a0a;
  --color-default: #fafaf7;
  --color-accent: #90ee90;
  --color-turq: #14bbfb;
  --color-muted: #353535;
  /* fonts */
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background: linear-gradient(135deg, #0a0a0a 0%, #1c1c1c 40%, #0a0a0a 100%);
    background-attachment: fixed;
    background-color: var(--color-background);
    color: var(--color-default);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  a {
    cursor: pointer;
  }
}

@keyframes pop-up {
  from {
    transform: translateY(5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
