---
import "../styles/global.css";
import Hero from "../components/hero.astro";
import Gallery from "../components/gallery.tsx";
import Cards from "../components/cards.tsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Vishesh Gupta's portfolio" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
    />
    <title>vishesh&apos;s portfolio</title>
  </head>
  <body>
    <!-- hero + gallery fused into one block -->
    <div class="relative mt-4">
      <Gallery client:load />
      <Hero />
    </div>
    <!-- cards -->
    <Cards client:load />
  </body>
</html>
