---
const bioBullets = [
  "computer science student",
  "software engineer",
  "hooper",
  "dj in training",
  "chess beginner",
  "music lover",
  "gamer",
  "film critic",
  "chipotle regular",
];
const repeatedBullets = [
  ...bioBullets,
  ...bioBullets,
  ...bioBullets,
  ...bioBullets,
];
---

<section
  id="hero"
  class="flex w-dvw flex-col items-center justify-center overflow-hidden leading-none"
>
  <!-- name in bold -->
  <h1 class="text-[22dvw] font-black tracking-tight uppercase">vishesh</h1>
  <!-- scrolling ticker -->
  <div
    class="bg-accent absolute w-full -rotate-3 overflow-hidden whitespace-nowrap"
  >
    <div class="ticker-scroll py-[clamp(0.25rem,0.5dvw,1rem)]">
      <span class="text-background font-black">
        {
          repeatedBullets.map((bullet) => {
            return `${bullet} \u00B7  `;
          })
        }
      </span>
    </div>
  </div>
</section>

<style>
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-25%);
    }
  }
  .ticker-scroll {
    animation: scroll 30s linear infinite;
  }
</style>
