---
const bioBullets = [
  "computer science student",
  "software engineer",
  "hooper",
  "dj in training",
  "chess beginner",
  "music lover",
  "gamer",
  "film critic",
  "chipotle regular",
  "aspiring nomad",
];
const repeatedBullets = [
  ...bioBullets,
  ...bioBullets,
  ...bioBullets,
  ...bioBullets,
];
---

<!-- hero section -->
<section
  id="hero"
  class="absolute inset-0 z-10 flex w-full flex-col items-center justify-center overflow-hidden"
>
  <!-- name in bold -->
  <h1
    class="smooth-entry z-0 text-[min(22dvw,30rem)] leading-[0.8] font-black tracking-tighter uppercase"
    style="animation-delay: 0.2s"
  >
    vishesh
  </h1>
  <!-- scrolling ticker -->
  <div
    id="ticker-banner"
    class="bg-accent absolute left-0 z-10 w-full -rotate-3 overflow-hidden whitespace-nowrap opacity-0"
  >
    <div class="ticker-scroll w-max md:py-1">
      <span class="text-background font-black">
        {
          repeatedBullets.map((bullet) => {
            return `${bullet} ·  `;
          })
        }
      </span>
    </div>
  </div>
</section>

<script>
  window.addEventListener("cards-loaded", () => {
    const ticker = document.getElementById("ticker-banner");
    if (!ticker) return;
    ticker.classList.remove("opacity-0");
    ticker.classList.add("ticker-fade-in");
  });
</script>
