---
const bioBullets = [
  "computer science student",
  "software engineer",
  "hooper",
  "dj in training",
  "chess beginner",
  "music lover",
  "gamer",
  "film critic",
  "chipotle regular",
];
const repeatedBullets = [
  ...bioBullets,
  ...bioBullets,
  ...bioBullets,
  ...bioBullets,
];
---

<section
  id="hero"
  class="relative flex w-dvw flex-col items-center justify-center overflow-hidden leading-none"
>
  <!-- name in bold -->
  <h1 class="smooth-entry z-0 text-[22dvw] font-black tracking-tight uppercase">
    vishesh
  </h1>
  <!-- scrolling ticker -->
  <div
    class="bg-accent ticker-fade-in absolute z-10 -rotate-3 overflow-hidden whitespace-nowrap"
  >
    <div class="ticker-scroll py-[clamp(0.25rem,0.5dvw,1rem)]">
      <span class="text-background font-black">
        {
          repeatedBullets.map((bullet) => {
            return `${bullet} \u00B7  `;
          })
        }
      </span>
    </div>
  </div>
</section>

<style>
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-25%);
    }
  }
  .ticker-scroll {
    animation: scroll 60s linear infinite;
  }
  @keyframes pop-up {
    from {
      transform: translateY(5rem);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .smooth-entry {
    animation:
      pop-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) both,
      fade-in 0.25s ease-out both;
  }
  .ticker-fade-in {
    animation:
      pop-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) both,
      fade-in 0.3s ease-in-out both;
    animation-delay: 0.75s;
  }
</style>
