---
const bioBullets = [
  "computer science student",
  "software engineer",
  "hooper",
  "dj in training",
  "chess beginner",
  "music lover",
  "gamer",
  "film critic",
  "chipotle regular",
  "aspiring nomad",
];
const repeatedBullets = [
  ...bioBullets,
  ...bioBullets,
  ...bioBullets,
  ...bioBullets,
];
---

<!-- hero section -->
<section
  id="hero"
  class="relative flex w-full flex-col items-center justify-center overflow-hidden"
>
  <!-- name in bold -->
  <h1
    class="smooth-entry z-0 text-[22dvw] leading-none font-black tracking-tight uppercase"
  >
    vishesh
  </h1>
  <!-- scrolling ticker -->
  <div
    class="bg-accent ticker-fade-in absolute left-0 z-10 w-full -rotate-3 overflow-hidden whitespace-nowrap"
  >
    <div class="ticker-scroll w-max md:py-1">
      <span class="text-background font-black">
        {
          repeatedBullets.map((bullet) => {
            return `${bullet} \u00B7  `;
          })
        }
      </span>
    </div>
  </div>
</section>
